﻿@model MVCTASK.ViewModels.UserCart
@{
    ViewBag.Title = "DisplayeShoppingCart";
    Layout = "~/Views/Shared/_Layout1.cshtml";

}

<h2>ShoppingCart:@Model.name</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Name")
        </th>
        <th>
            @Html.DisplayName("Price")
        </th>
        <th>
            @Html.DisplayName("Quantity")
        </th>
        <th>
            @Html.DisplayName("Image")

        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.ShoppingCarts)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                <img class="img-rounded" style="width:50px;height:50px" src="@Url.Content("~/Images/"+item.ImgPath)" alt="IMAGES" />
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { id = item.id })
            </td>
        </tr>
    }

</table>
<h3 >Total:@Model.total</h3>
<div>
    <a href='@Url.Action("Index", "Products", new { id = ViewBag.id })'>
        Back to List
    </a>
</div>