﻿@model IEnumerable<MVCTASK.Models.Products>

@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
    ViewBag.Title = "Index";
}
<br />
@using (Html.BeginForm("Search", "Products", FormMethod.Get))
{<div class="col-md-12">
        <div class="col-md-3">
            @Html.TextBox("SearchString") <br />
        </div>
    <input type="hidden" name="id"value="@ViewBag.id" />
        <div class="col-md-3">

            <input type="submit" value="Search" />
        </div>
    </div>


}
<br /><br />
     
      <h2>
          <a href='@Url.Action("DisplayeShoppingCart", "ShoppingCart", new { id = ViewBag.id })'>
              <input type='button' class="btn btn-primary" value='Shopping Cart' />
          </a>
      </h2>
<p>
    @Html.ActionLink("Create New", "Create", new { id = ViewBag.id })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayName("Image")

        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                <img class="img-rounded" style="width:50px;height:50px" src="@Url.Content("~/Images/"+item.ImgPath)" alt="IMAGES" />
            </td>
            <td>
                <input type="hidden" name="id" />
                <a href="@Url.Action("Add","Products",new {ProductId=item.id,ViewBag.id })" class="btn btn-success">Add</a>
                @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                @Html.ActionLink("Details", "Details", new { id = item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id })
            </td>
        </tr>
    }

</table>